html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    border:0;
    font:inherit;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

body {
    font-family: 'Source Serif Pro', 'Georgia', 'Times New Roman', Times, serif; 
    font-size: 18px;
    overflow-y: scroll;
}

#resume-wrapper {
    display: block;
    padding: 40px;
}


#resume {
    max-width: 800px; 
    margin: auto;
    border: 2px inset;
    margin: auto;
    padding: 10px;
    width: 100%;
}

#main-details {
    padding-top: 25px 35px 0px 35px;
    margin-bottom: 20px;
    text-align: center;
}

#name {
    font-size: 2.5rem;
    text-align: center;
}

.contact-details ul {
    list-style-type: none;
    margin-top: 2px;
}

.contact-details ul li {
    font-size: 1.0rem;
    margin-bottom: 3px;
    display: inline-block;
    margin-right: 15px;
}

.contact-details ul li a, a[href^=tel] {
    color: #444; 
    text-decoration: none;
}

.contact-details ul li a:hover { 
    color: #3064b1;
}

p, article li {
    font-size: 0.9rem;
    line-height: 1.2em;
}

p {
    margin-bottom: 13px;
}

article ul {
    padding-left: 2em;
}

article li {
    margin-top: 3px;
    margin-bottom: 2px;
    padding-right: 20px;
}

article ul:last-child {
    padding-bottom: 10px;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 10px 0 5px;
}

.section-content {
    margin-left:15px;
}

.section-title {
    font-size: 1.0rem;
    padding-bottom: 2px;
    border-bottom: 1px black solid;
    margin-bottom: 4px;
}

.section-content .dates {
    font-size: 1.0rem;
    font-variant: small-caps;
}

.section-content .company {
    font-size: 1.0rem;
    font-weight: bold;
}

.section-content .position {
    font-size: 1.0rem;
}

.section-content .position2 {
    font-size: 1.0rem;
    padding-left: 8px;
}

.position2:before { 
    font-family: "fontawesome";
    content: '\f0aa';  /* e802 f0de f0aa f139 */
    margin-right: 4px;
}

.col-left {
    display: inline-block;
    width: 80%;
}

.col-right {
    display: inline-block;
    text-align: right;
    clear:right;
}

.tools {
    font-style: inherit;
}

.section-content.skills p {
    margin-bottom: 3px;
}

strong {
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    #resume {
        margin: 10px auto;
        min-width: 280px;
    }
    
    .name, .contact-details {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .section-title, .section-content {
        float: none;
        width: 100%;
    }
    
    .section-title {
        margin-left: -2px;
        font-size: 1.25rem;
    }

    .main-details {
        padding: 15px 15px;
    }
    
    section {
        padding: 15px 0 0;
    }
    
    .main-area {
        padding: 0 25px;
    }

    .name h1 {
        line-height: .8em;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 601px) {
    html, body {
        font-size: 12px;
    }
}

@media screen and (max-width: 401px) {
    html, body {
        font-size: 10px;
    }
}

@media print {
    html, body {
        font-size: 14px;
        overflow: visible;
        overflow-y: visible;
    }
    
    body > div {
        max-width: 95%; 
    }

    #resume {
        border: 0;
        width: 100%;
    }

    article li {
        margin-bottom: 3px;
    }

    #resume-wrapper {
        padding: 0px;
    }
}
